.container{
  position: absolute;
  top: 0;
  left: 200px;
  height: 100vh;
  width: calc(100vw - 200px);
  overflow: hidden;   
}

.container-title{
  color:#8AAE92;
  text-align: center;
  font-size: 100px;
}
