.skill-title{
  margin: 10px auto;
}

.wrapper{
  padding-left: 15%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 20px;
  transition: all 1s;

}

.skill-container{
  border-radius: 10px;
  background-color: #8AAE92;
  grid-row: span 1;
  transition: .1s ease-out all;
  overflow: hidden;
}


.skill-name{
  font-size: 20px;
  text-align: center;
}

.skill-group-container {
  font-size: 70px;
  background-color:  rgba(196, 227, 203,0.2);
  width: 85%;
  height: 90px;
  border-radius: 10px;
  margin: 10px 0 ;
  transition: .3s ease-out all;
  cursor: pointer;
  overflow: hidden;
}

#skill-group-container-selected{
  height: calc(75% - 240px);
  background-color:  rgba(196, 227, 203,0.8);
}

.meter {
  margin-left: 10%;
  height: 12px;
  width: 75%;
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
}

@keyframes expandWidth {
   0% { width: 0; }
   60% { width: 0; }
}

.meter > span {
  animation: expandWidth 1s;
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e0e9ec;
  position: relative;

}

@media (max-width: 1600px) {
  .skill-title{
    font-size: .75ch;
  }
}

@media (max-width: 1250px) {
  #skill-group-container-selected{
    height: calc(80% - 240px);
    background-color:  rgba(196, 227, 203,0.8);
  }

  .skill-name{
    font-size: .37ch;
  }

}

@media (max-width: 1050px) {
  .meter {
    width: 65%;
  }
}

@media (max-height:870px){
  .skill-title{
    font-size: .75ch;
  }
}

@media (max-width:415px){

  .skill-title{
    font-size: .6ch;
  }

  .skill-group-container{
    width: 90%;
    margin: 0 5%;
  }

  #skill-group-container-selected{
    height: auto;

  }

  .wrapper{
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: 90%;
    grid-gap: 20px;
    transition: all 1s;

  }

  .meter{
    width: 75%;
  }

}
