#sidebar{
  position:absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 500px;
  transition: .3s ease-out all;
  -webkit-clip-path: polygon(0px 0px, 200px 50vh, 0px 100vh);
  clip-path: polygon(0px 0px, 200px 50vh, 0px 100vh);
  background-color: rgba(196, 227, 203,0.2);
  z-index: 2;
}

#sidebar:hover{
  -webkit-clip-path: polygon(0px 0px, 500px 50vh, 0px 100vh);
  clip-path: polygon(0px 0px, 500px 50vh, 0px 100vh);
  background-color: rgba(196, 227, 203,0.8);
}

.hover-container {
    margin-left: -200px;
    width: 400px;
    text-align: center;
    position: relative;
    left: 7px;
    top: 50%;
    line-height: 37px;
}

#hover-me{
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ff-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 55px;
  margin-left: 95px;
}
