.link-to-project{
  all: initial;
  height: 100%;
}

.portfolio-container{
  background-color:  rgba(196, 227, 203,0.8);
  border-radius: 10px;
  text-align: center;
  position: relative;
  transform: scale(.50);
  transition: .25s;
  cursor: pointer;
}

.shrink {
  transform: scale(.05)
}

.fullsize{
  transform: scale(1)
}

.portfolio-title{
  font-size: 2em;
}

.portfolio-description{
  margin-left: 10%;
  width: 80%;
}

.portfolio-tag-container{
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.portfolio-tag{
  display: inline-block;
  color: white;
  height: 20px;
  width: 75px;
  border-radius: 10px;
  margin: 0 5%;
}

.portfolio-tag-name{
    margin: 0;
}
